/* Filename - Styles.css */
/* It containds the Form and Page Styling*/

body {
  background: #f3f3f3;
  text-align: center;
}
.App {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

h1 {
  font-size: x-large;
  text-align: center;
  color: #327c35;
}

fieldset {
  border: none;
}

input {
  display: block;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline;
  width: 10%;
}
select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 5px;
  border-radius: 5%;
  margin: 15px;
  border: black;
  color: black;
  cursor: pointer;
  background-color: #ddd;
  width: 40%;
  font-size: 16px;
}

.button-group button:hover {
  background-color: #ccc;
}

textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ddd;
}

.list-cart {
  list-style-type: none; /* Removes bullets or numbers */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

/* Optional: style list items */
.list-cart li {
  padding: 8px;
  background-color: #f0f0f0;
  margin-bottom: 4px;
  border-radius: 4px;
}
